[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Maru editer
Comment=Editer
Exec=/usr/bin/maruediter
Icon=/usr/share/maruediter/image/maruediter.png
Categories=Application;Office;
Terminal=false
Name[ja_JP]=Maruediter
